.item {
	max-width: 500px;
	display: flex;
	flex-direction: row;
	align-content: center;
	list-style: none;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 1px 2px 0px #dfdfdf;
	justify-content: space-between;
}
.checkbox {
	font-size: 20px;
	height: 20px;
	width: 20px;
	margin: 0;
	cursor: pointer;
}
.text {
	margin: 0;
	font-size: 20px;
	line-height: 1;
}
.changeFormInput {
	line-height: 1;
	font-size: 16px;
	margin: 0 5px;
	max-height: 20px;
}